services:
  - type: web
    name: bookswap
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn bookswap.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.18
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*"
